
img {
    max-width: 100%;
    max-height: 100%;
}

:root {
    --main-bg-color: rgb(9, 9, 32);
    --main-bg-color-tr: rgba(9,9,32,0.8);
    --main-txt-color: white;
    --main-txt-hov-color: #111;
    --main-whbl-color: #c5ecfd;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--main-bg-color-tr); 
    box-shadow: inset 0 0 2px var(--main-whbl-color); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-bg-color); 
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main-whbl-color); 
  }


@font-face {
    font-family: main_font2;
    src: url("../fonts/Gugi-Regular.ttf");
}

@font-face {
    font-family: roboto-font;
    src: url("../fonts/RobotoCondensed-Light.ttf");
}

@font-face {
    font-family: anton-font;
    src: url("../fonts/Anton-Regular.ttf");
}



body{
    margin: 0;

    background-image: url("../image/bg.jpg");
    /*background-repeat: no-repeat;*/
    background-position: top center;
    background-size: cover;
    font-family: roboto-font;

    height: 100vh;
    display: flex;
    flex-flow: column;
}

* {
    color: var(--main-txt-color);
    text-decoration: none;
}

::selection {
    color: black;
    background: #00FF41;
  }

h2 {
    
    font-family: main_font2;
}


/* header */

header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: var(--main-bg-color);

    overflow: hidden;
    width: 100%;
    flex-shrink: 0;
}

.header_logo {
    height: 42px;
    
    margin: 4px;
    float: left;
}

.header_nav {
    float: right;
    
}

.main-menu-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.main-menu-container li {
    float: left;
}
  
.main-menu-container li a {
    display: block;
    text-align: center;
    padding: 14px 16px;

}
  
.main-menu-container li a:hover {
    background-color: var(--main-txt-hov-color);
    text-decoration: underline;
}

.header_logo label {
    display: none;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 600px){
    .header_logo {
        width: 98%;
    }
    .header_nav {
        width: 100%;
    }

    .header_logo label {
        display: block;
        margin: 5px;
        font-size: 26px;
        float: right;

        cursor: pointer;
    }

    .main-menu-container {
        text-align: center;
        width: 100%;
        display: none;
    }

    .main-menu-container li {
        width: 100%;
    }

    .main-menu-container li a {
        display: block;
        
        border-bottom: 1px solid var(--main-txt-color);
    }

    #toggle:checked + .main-menu-container {
        
        display: block;

        opacity: 0;
        animation-name: burger_an;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
    }
    
    @keyframes burger_an {
        0% {
            opacity: 0;
            height: 0;
        }
        100% {
            opacity: 1;
            height: 284px;
        }
    }

}

/* footer */

footer{
    background-color: var(--main-bg-color);
    overflow: hidden;
    width: 100%;
    flex-shrink: 0;
    margin-top: auto;
}

.footer {
    display: flex;
}
.footer_info {
    width: 40%;
    text-align: center;
}

.footer_sub{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.footer a:hover {
    text-decoration: underline;
}

.footer_news_signup_cl {
    margin: 20px;
}


@media only screen and (max-width: 600px) {
    

    .footer {
        display: block;
    }

    .footer_info {
        width: 100%;
        text-align: center;
    }
    
    .footer_sub{
        width: 100%;
        text-align: center;
    }
}


.main-guide{
    margin: 20px;
    background: var(--main-bg-color-tr);
    padding: 10px;
    border-radius: 10px;
}

.inp_mail {
    background: transparent;
    border: 0;
    border-bottom: 2px solid var(--main-whbl-color);
}

.btn_mail {
    background: var(--main-whbl-color);
    border-radius: 5px;
    border: 1px solid black;
    color: black;
}

