.tour-form {

    margin-left: 10px;

}

.tourism-about {
    margin: 20px;
    background: var(--main-bg-color-tr);
    padding: 10px;
    border-radius: 10px;
}

.tourism-apply {
    margin: 20px;
    background: var(--main-bg-color-tr);
    padding: 10px;
    border-radius: 10px;
}

.inp_name, .inp-mail {
    background: transparent;
    border: 0;
    border-bottom: 2px solid var(--main-whbl-color);
}

/*radio*/


.rad-choice {
    display: block;
    position: relative; 
    
  
}

.rad-choice ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    position: relative;
    
  }
  
  .rad-choice li{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
  }

  .rad-choice li input[type=radio]{
    position: absolute;
    visibility: hidden;
  }

  ul li label{
    display: block;
    position: relative;
    padding-left: 35px ;
    width: fit-content;
    z-index: 9;
    cursor: pointer;
  }

  ul li:hover label{
    color: green;
}

ul li .check{
    display: block;
    position: relative;
    border: 5px solid #AAAAAA;
    /*border-radius: 100%;*/
    height: 15px;
    width: 15px;
    top: -20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
  }

  ul li:hover .check {
    border: 5px solid green;
  }

  ul li .check::before {
    display: block;
    position: absolute;
      content: '';
    border-radius: 100%;
    height: 5px;
    width: 5px;
    top: 5px;
    left: 5px;
    margin: auto;
  }
  input[type=radio]:checked ~ .check {
    border: 5px solid #0DFF92;
  }
  
  input[type=radio]:checked ~ .check::before{
    background: #0DFF92;
  }
  
  input[type=radio]:checked ~ label{
    color: #0DFF92;
  }



  /*end radio*/
.inp-msg {
    background: var(--main-bg-color-tr);
    width: 100%;
    height: 150px;
    border: 2px solid var(--main-whbl-color);
    box-sizing: border-box;
    resize: none;
    
}
.p-inp-msg {
    margin-right: 10px;
}

.btn-subm {
    background: var(--main-whbl-color);
    padding: 15px 32px;
    border-radius: 2px;
    border: 2px solid black;
    color: black;

    cursor: pointer;
}