{% extends "./index.html" %}

{% block title %}Contact{% endblock %}

{% block main_block %}

<div class="page_block">
        <p>
                Nope
        </p>
</div>

{% endblock %}
<!--
<div class="contact">
                        <h2>Contact form</h2>
                        <form class="contactform" action="">
                                <label for="contact_name">Name</label>
                                <p><input type="text" placeholder="Enter name" name="contact_name" required maxlength="30" autocomplete="off"></p>
                                
                                <label for="mail">Email</label>
                                <p><input type="email" placeholder="Enter email" name="mail" required maxlength="50"></p>    
                            
                                <label for = "text">Messenge</label>
                                <p><textarea rows="4" cols = "50" maxlength="500"></textarea></p>
                                <p><button type="submit">Submit</button></p>
                                
                            </form>
                </div>

-->
                